.crypto__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  margin-left: 22em;
  padding: 1.5rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  background-color: #152251;
  width: 70%;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.image {
  width: 50px;
  height: 50px;
}
.side__navbar {
  margin-top: 3.75em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #152251;
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0;
  overflow: scroll;
}
.card2 {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  padding: 1.5rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 90%;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
}
.side__navbar::-webkit-scrollbar {
  width: 0.2em;
  background-color: #f5f5f5;
}

.side__navbar::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.side__navbar::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}
.card2:hover {
  transform: scale(1.1);
}

.activecard {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  padding: 1.5rem;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 90%;
  cursor: pointer;
  color: #fff;
  background-color: rgba(196, 199, 204, 0.2);
  border-radius: 5px;
}

.nothing {
  display: none;
}
.card_image {
  width: 50px;
  height: 50px;
}
.show__data {
  font-style: "italic";
  color: "#fff";
  font-weight: 700;
  margin-left: 0.2em;
}
.crypto__title {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 609px) {
  .side__navbar {
    margin-top: 3.75em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #152251;
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow: scroll;
  }
  .card2 {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    font-size: 10px;
  }
  .activecard {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%;
    cursor: pointer;
    color: #fff;
    background-color: rgba(196, 199, 204, 0.2);
    border-radius: 5px;
  }
  .card2:hover {
    transform: scale(1.1);
  }
  .card {
    margin-top: 7.7em;
    margin-left: 19.8em;
    position: fixed;
    top: 0;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #152251;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 8px;
    overflow: scroll;
  }
  .image {
    width: 32px;
    height: 32px;
  }
  .crypto__title {
    font-size: 10px;
  }
  .card > div {
    margin-bottom: 2.18em;
  }
  .card_image {
    margin-bottom: 2.18em;
  }
}
@media (min-width: 610px) and (max-width: 760px) {
  .side__navbar {
    margin-top: 3.75em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #152251;
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow: scroll;
  }
  .card {
    margin-left: 22em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #152251;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
  }
}

@media (min-width: 761px) and (max-width: 799px) {
  .side__navbar {
    margin-top: 3.75em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #152251;
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow: scroll;
  }
  .card2 {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
  }
  .activecard {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%;
    cursor: pointer;
    color: #fff;
    background-color: rgba(196, 199, 204, 0.2);
    border-radius: 5px;
  }
  .card2:hover {
    transform: scale(1.1);
  }
  .card {
    margin-left: 25em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #152251;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
  }
}

@media (min-width: 800px) and (max-width: 1022px) {
  .side__navbar {
    margin-top: 3.75em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #152251;
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow: scroll;
  }
  .card2 {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
  }
  .activecard {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%;
    cursor: pointer;
    color: #fff;
    background-color: rgba(196, 199, 204, 0.2);
    border-radius: 5px;
  }
  .card2:hover {
    transform: scale(1.1);
  }
  .card {
    margin-left: 35em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #152251;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
  }
}
@media (min-width: 761px) and (max-width: 799px) {
  .side__navbar {
    margin-top: 3.75em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #152251;
    width: 40%;
    height: 100%;
    position: fixed;
    top: 0;
    overflow: scroll;
  }
  .card2 {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
  }
  .activecard {
    display: flex;
    justify-content: space-between;
    margin: 1em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%;
    cursor: pointer;
    color: #fff;
    background-color: rgba(196, 199, 204, 0.2);
    border-radius: 5px;
  }
  .card2:hover {
    transform: scale(1.1);
  }
  .card {
    margin-left: 29em;
    padding: 1.5rem;
    box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #152251;
    width: 50%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
  }
}
